* {
    color: rgb(230, 230, 230);
}

body {
    background-image: url("bg-image.png");
    background-repeat: no-repeat;
    background-size: 100vw 45vh;
    color: rgb(230, 230, 230);
}

.modal-content {
    background-color: rgb(43, 39, 59);
}

.form-control:focus, .form-control {
    color: rgb(230, 230, 230);
}



.col-sm {
    display: flex;
    justify-content: flex-end;
}

.btn-outline-light {
    margin-left: 8px;
    border-bottom: 2px solid #13111f;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 15%;
}

h1 {
    color: rgb(230, 230, 230);
}

.fa-sun {
    display: flex;
    justify-content: flex-end;
    color: #fff;
}

.addTaskContainer, .tasks, .tasksInfo{
    background-color: rgb(43, 39, 59);
    border-radius: 8px;
}

.addTaskContainer {
    min-width: 364px;
}

.tasks {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.dots-icon {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fa-ellipsis:hover {
    color: rgb(54, 134, 253);
    cursor: pointer;
}

.tasksInfo {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.btn-light {
    border-radius: 50%;
    font-weight: 700;
    color: rgb(230, 230, 230);
    background-color: rgb(43, 39, 59);
}

.addTaskInpt {
    /* width: 300px; */
    background-color: transparent;
    border: none;
    outline: none;
}

.hr {
    margin-top: 1px;
    margin-bottom: 1px;
    border: 0;
    border-top: 3px solid rgb(102, 102, 102);
}

.clear-completed {
    text-align: end;
}

.tasksInfo p {
    color: rgb(105, 105, 105);
    cursor: pointer;
}

.tasksInfo p:hover {
    color: rgb(54, 134, 253);
}